__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

/data/raw/*
/data/processed/*
!/data/raw/.gitkeep
!/data/processed/.gitkeep
!/data/raw/*.dvc
!/data/processed/*.dvc

.env
reports/*.html
reports/*.png
mlruns/
.pytest_cache/
.ruff_cache/

scratch.py